/* CAMPAIGN TAB */
.campaignTabContainer {
  flex: 1;
  margin-left: 5%;
  margin-right: 3%;
  background-color: white;
}

.sectionContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 3%;
}

.sectionTitle {
  flex: 1;
  font-size: 150%;
  margin-bottom: 1%;
}

.sectionImageDiv {
  flex: 1;
  margin-bottom: 1%;
}

.sectionImage {
  flex: 1;
  width: 450px;
  height: 250px;
  margin-bottom: 1%;
}